@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

@if (Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogout", "Member", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
    {
        @Html.AntiForgeryToken()
        if (System.Web.Security.Membership.GetUser() != null)
        {
            <button name="login" type="submit" class="btn btn-outline-light rounded-pill nav-link font-weight-bold sign-in-text">Logout</button>
        }
                    
    }
}