@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForgotPasswordPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>@Model.Value("pageTitle")</h2>
        </header>

        
        @Model.Value("bodyText")

    </div>
</section>