.top-buffer {
    margin-top: 125px;
}
.mid-buffer {
    margin-top: 400px;
}
.footer-buffer{
    margin-top: 540px;
    margin-bottom: 70px;
}

.background-img-path-signin {
    background-image: url("../../images/signIn-background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.background-img-path {
    background-image: url("../../images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.text-color-hoc {
    color: #FEE7FF !important;
    font-size: larger;
}

.sign-in-text {
    color: #5C245F;
    font-size: larger;
}

.headline-text {
    color: #47054A;
}

.span-text {
    color: #F3D9F4;
    font-size: larger;
}
.text-on-sign-in-page {
    color: #EDE5ED;
    font-size: larger;
}
.btn-bg-color {
    background-color: #E6DCE6 !important;      
}
.rememberMe-color {
    color: #A28DA3;
}
.rounded-corners {
    border-radius: 15px;
}
.text-color-advertising {
    color: #674E68
}
.btn-bg-color-contact {
    background-color: #AA81AC !important;
    color: white !important;
    font-size: larger;
}
.btn-bg-color-contact:hover {
    background-color: #5C245F !important;
}
.btn-text {
    font-size: larger;
}
.text-color-packages {
    color: #BAB2BB;
    font-size: 40px;
}
.footer-text-color {
    color: #AA81AC;
    font-size: x-large;
}
.product-bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 85%;
    width: 330px;
}
.product-bg-small {
    background-image: url("../../images/small-bg.png");   
}
.product-bg-medium {
    background-image: url("../../images/medium-bg.png");
}
.product-bg-large {
    background-image: url("../../images/large-bg.png");
}
.product-bg-enterprise {
    background-image: url("../../images/enterprise-bg.png");
}
.product-headlines {
    font-size: 30px;
    font-weight: 500;
    color: #47054A;
}
.product-font-color {
    color: #866F9E !important;
    font-size: 18px;
}
.product-price-color {
    background-color: #F5EFF5;
}
.small-height {
    padding-top: 68px;
}
.medium-height {
    padding-top: 35px;
}
.sizeforspan {
    font-size: 12px;
}
.btn-size{
    width: 20px;
}